.eventRenderer {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    
    text-align: left;

    &[data-no-border] {
        border: none;
    }
}

.title {
    display: flex;
    align-items: center;

    gap: 10px;

    .titleText {
        font-size: 20px;
        font-weight: bold;
    }
}

.titleIcon {
    cursor: pointer;
}